<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      .btn {
        padding: 10px;
        background: yellowgreen;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background: darkgreen;
      }
      .btn-warning {
        background: yellow;
        color: black;
        padding: 5px 8px;
      }
      .btn-warning:hover {
        background: orange;
      }
      .btn-danger {
        background: red;
        color: white;
        padding: 5px 8px;
      }
      .btn-danger:hover {
        background: darkred;
      }
      li {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/users">Users</a>
    <a href="/posts">Posts</a>
    <h1>This is <%= title %> Page</h1>
    </ul>

