<%- include('./partials/header') %>
<div class="container text-center">
  <p class="mt-4">This website explains</p>
  <p class="mt-4">Create, Read, Update, and Delete (CRUD) operations for</p>
  <p class="mt-4">
    <strong>Users</strong>, <strong>Posts</strong>, and
    <strong>Catagories</strong>
  </p>
  <p class="mt-4">by using Node.js, Express, MySQL, and EJS</p>
</div>
