<%- include('../partials/header') %>
    <form action="/users/update/<%= user.id %>" method="POST">
      <a href="/users">Back to Users</a>
      <h3>Edit User</h3>
      <input
        type="text"
        name="name"
        value="<%= user.name %>"
        placeholder="Enter Name"
        required
      />
      <br />
      <input
        type="email"
        name="email"
        value="<%= user.email %>"
        placeholder="Enter Email"
        required
      />
      <br />
      <button type="submit">Update</button>
    </form>
