<%- include('../partials/header') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0 rounded-4 bg-light">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="card-title">New Post</h3>
            <a href="/posts" class="btn btn-sm">X</a>
          </div>

          <form
            action="/posts/create"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <select name="user_id" required class="form-select">
                <option disabled selected>Select Author</option>
                <% users.forEach(user => { %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% }) %>
              </select>
            </div>

            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="title"
                placeholder="Post Title"
                required
              />
            </div>

            <div class="mb-3">
              <textarea
                name="content"
                class="form-control"
                rows="4"
                placeholder="Post Content"
                required
              ></textarea>
            </div>

            <div class="mb-4">
              <input
                type="file"
                name="photo"
                class="form-control"
                accept="image/*"
              />
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
